- name: Update and upgrade apt
  become: true
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
    cache_valid_time: 86400
    autoremove: true

- name: Install dependencies
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      # Unifi networking
      - lldpd
