---

- name: Update proxmox nodes
  hosts:
    - home_nodes
  tasks:
    - name: Update and upgrade apt packages
      become: true
      ansible.builtin.apt:
        upgrade: dist
        update_cache: true
        cache_valid_time: 86400
