- name: APT Dependencies
  hosts:
    - home_nodes
    - zfix_nodes
  roles:
    - proxmox-apt

- name: Ensure interactive environment
  hosts:
    - home_nodes
    - zfix_nodes
  roles:
    - interactive-environment
