---

- name: Update Nodes
  hosts:
    - home_nodes
    - zfix_nodes
    - usbip_rpi
  roles:
    - apt

- name: Ensure interactive environment
  hosts:
    - home_nodes
    - zfix_nodes
  roles:
    - interactive-environment
